* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hangman {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 0.8em;
}
svg {
  margin: 0 auto;
  border: 1px solid black;
}

line {
  stroke: black;
  stroke-width: 4;
}

#door1 {
  transform-origin: 0% 100%;
}

#door2 {
  transform-origin: 100% 100%;
}

.hide {
  visibility: hidden;
}

.hidden {
  display: none;
}

.setup {
  margin: 1em 0;
  text-align: center;
}

.guess-status {
  margin-bottom: 1em;
  text-align: center;
}
.wrong {
  display: flex;
}

button {
  padding: 0.2em 0.5em;
}

.ui {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.wrong-guesses {
  text-align: center;
  margin: 0 1em;
}
.wrong-guesses span {
  margin: 0 0.2em;
}
